@model IEnumerable<K22CNT2_PhanLacViet_DATN.Models.ChuongTruyen>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThuTuChuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTruyenNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThuTuChuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTruyenNavigation.MaTruyen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaChuongTruyen">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaChuongTruyen">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaChuongTruyen">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
