@model K22CNT2_PhanLacViet_DATN.Models.LichSuDoc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LichSuDoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaChuongTruyenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaChuongTruyenNavigation.MaChuongTruyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTruyenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTruyenNavigation.MaTruyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiKhoanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiKhoanNavigation.TaiKhoan)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
