@model K22CNT2_PhanLacViet_DATN.Models.Truyen

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Truyen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTruyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTruyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TacGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiTruyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiTruyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoChuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoChuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongLuotXem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongLuotXem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhBia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDangNavigation.TaiKhoan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaTruyen">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
