@model IEnumerable<K22CNT2_PhanLacViet_DATN.Models.Truyen>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTruyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TacGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiTruyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoChuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongLuotXem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhBia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDangNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTruyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiTruyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoChuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongLuotXem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnhBia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDangNavigation.TaiKhoan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTruyen">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTruyen">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTruyen">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
