@model K22CNT2_PhanLacViet_DATN.Models.RepBinhLuan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RepBinhLuan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaBinhLuanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaBinhLuanNavigation.MaBinhLuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiKhoanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiKhoanNavigation.TaiKhoan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaRep">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
